KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/TTY.o \
$(ARCHDIR)/DescriptorTables.o \
$(ARCHDIR)/com1_handler.o \
$(ARCHDIR)/com2_handler.o \
$(ARCHDIR)/Serial.o \
$(ARCHDIR)/PIC.o \
$(ARCHDIR)/InterruptHandler.o \
$(ARCHDIR)/MemoryManager.o \
